<!-- <div class="currencyFrom showCurrency">
    <select>
        <option value="default">Choose one </option>
        <option 
        *ngFor="let exchangeRate of exchangeRate$"
        [value]="exchangeRate.txt"
        >{{exchangeRate.txt}}</option>
    </select>
    <div class="numberFrom">
        <input type="Text" placeholder="Number From">
    </div>
</div> -->
<!-- 
<div class="currencyFrom showCurrency">
    <label> Currency From</label>
    <select  >
         <option [value]="exchangeRate.rate" *ngFor="let exchangeRate of exchangeRate$ | async">
            {{exchangeRate.cc}}
         </option>
    </select>
    <input type="text" class="mb-2 border py-2 mx-4 v-full" (change)="ChangeNumberFrom($event)" [value]="numberFrom" placeholder=" "> -->
   


<!-- <div class="currencyTo showCurrency">
    <select>
        <option value="default">Choose one </option>
        <option [value]="exchangeRate.txt">{{exchangeRate.txt}}</option>
    </select>
    <div class="numberTo">
        <input type="Text" placeholder="Number To">
    </div>
</div> -->