
<div class="container" *ngIf="exchangeRates$ | async as exchangeRates">
    
    <div class="header">
        <h2>{{ title }} Rate</h2> 
        <div *ngFor="let exchangeRate of exchangeRates | staticcurrencyPipe :'USD'" > USD : {{ exchangeRate.rate }} </div>
        <div *ngFor="let exchangeRate of exchangeRates | staticcurrencyPipe :'EUR'"> EUR : {{ exchangeRate.rate }} </div>
    </div>

    <div class="show-currency"> 
        <div><label>Currency From</label></div>
        <div>
            <select  class="currency-from" (change)="ChangeCurrencyFrom($event)">
                <option selected> Choose Currency </option>
                <option [value]="1">UAH</option>
                <option 
                [value]="exchangeRate.rate" 
                *ngFor="let exchangeRate of exchangeRates "
                
                >
                    {{exchangeRate.cc }}
                </option>
                
            </select>
        </div>
        <div> {{ coefFrom }} </div>
        <div>
            <input
            type="Text" 
            placeholder="Number From"
            [value]="numberFrom" 
            (change)="ChangeNumberFrom($event)"
           >
        </div>
        
    </div>

    <div class="show-currency"> 
        <div><label>Currency To</label></div>
        <div>
            <select class="currency-to" (change)="ChangeCurrencyTo($event)">
                <option selected> Choose Currency </option>
                <option [value]="1">UAH</option>
                <option 
                    [value]="exchangeRate.rate"
                    *ngFor="let exchangeRate of exchangeRates"
                    
                    >
                        {{exchangeRate.cc}}
                </option>
                
            </select>
        </div>
        <div> {{ coefTo }} </div>
        <div>
            <input 
            type="Text" 
            placeholder="Number To" 
            [value]="numberTo" 
            (change)="ChangeNumberTo($event)"
            >
        </div>
    </div>
    
</div>
